body{
    background-color: black;
    color:white;
}
h1{
    text-align: center;
    font: optional;font-family: 'Raleway', sans-serif;
}
p{
    width: 650px;
    margin:1em;
    padding: 2%;
    color: #ffffff;
    font: normal normal 300 16px/19px Raleway;
    float: left;
    letter-spacing: 0px;
    opacity: 1;
    height: 50px;
}

.img1{
    width: 30%;
    height: 237px;
    display: inline-block;
    margin: 2em;
    padding: 1em;
}

.seccion1{
    display: inline-block;
}

.seccion2{
    background-color:  #1e1a13;
    text-align: center;
    line-height: 50px;
    margin: auto;
}
h2{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding: 20px 0;
    margin: 0%;
    font-size: 40px;
    top: 1216px;
    height: 47px;


}
.seccion2 i{
    font-size: 60px;
    height: 50px;
    margin-right: 50px;
    text-align: center;
    width: 33%;
}

.seccion2 h3{
    color: #ffffff;
    text-align: center;
    font-size: 33px;
    font: normal normal 300 24px/29px Raleway;
    letter-spacing: 0px;
    opacity: 1;
}

.iconos{
    display: inline-block;
    width: auto;
    padding: 2%;
    width: 25%;
    box-sizing: border-box;
}

.seccion3{
    margin: 1rem;
    padding: auto;
    text-align: center;
}
.seccion3 div{
    display: inline-block;
    width: 30%;
    padding: 1rem;
    margin: auto;
}
.seccion3 img{
    width: 100%;
    top: 1561px;
    left: 200px;
    width: 400px;
    height: 252px;
}

.pie{
    height: 3em;
    line-height: 3em;
    background-color:  #1e1a13;
    color: white;
    font-weight: 500;
    text-align: center;
    font: normal normal 300 20px/24px Raleway;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    }
